name: CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build and Push Docker Images
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push backend image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-app-backend:latest ./backend
          docker push ${{ secrets.DOCKER_USERNAME }}/mean-app-backend:latest

      - name: Build and push frontend image
        run: |
          docker build -t ${{ secrets.DOCKER_USERNAME }}/mean-app-frontend:latest ./frontend
          docker push ${{ secrets.DOCKER_USERNAME }}/mean-app-frontend:latest

  deploy:
    name: Deploy to EC2
    needs: build
    runs-on: ubuntu-latest
    
    steps:
      - name: Deploy to EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            if [ ! -d "crud-dd-task-mean-app" ]; then
              git clone https://github.com/Karthikk29/crud_app_new.git crud-dd-task-mean-app
            fi
            cd ~/crud-dd-task-mean-app
            git pull origin main
            docker pull ${{ secrets.DOCKER_USERNAME }}/mean-app-backend:latest
            docker pull ${{ secrets.DOCKER_USERNAME }}/mean-app-frontend:latest
            docker-compose down
            docker-compose up -d
            docker image prune -f
